* {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to right top, #04090e, #020c17, #040d1d, #080e24, #0f0e29);
}

.btn {
  font-size: 1.2rem;
  padding: 7px 18px 7px 20px;
  border: 1px solid black;
  border-radius: 150px;
  color: rgb(38, 38, 38);
  background-color: white;
  cursor: pointer;
}

.text {
  font-size: 1.3em;
  color: white;
}

/* splash screen */
.splash {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom right, #74ebd5, #acb6e5);
}

.splash .text {
  font-size: 1.8rem;
  color: #ffffff;
}

/* login section */

#login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login .logo-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.8em;
  /* font-weight: 900; */
  letter-spacing: -2px;
  margin-bottom: 12px;
}

.notif-area {
  font-size: 1.3rem;
  color: orangered;
  margin-bottom: 10px;
}

.btn.login-btn {
  margin-top: 12px;
  background-color: yellow;
}

.btn.login-btn:hover {
  background-color: rgb(244, 244, 0);
}

.btn.continue-btn {
  background-color: lightskyblue;
  /* font-size: 1.2rem; */
}

.btn.continue-btn:hover {
  background-color: rgb(128, 195, 236);
}

.btn.continue-btn.disabled {
  background-color: rgb(204, 216, 224);
  color: rgb(126, 126, 126);
}

#login-bitmoji-img {
  width: 220px;
  align-self: center;
  margin-bottom: -5px;
}

.login .icon {
  margin-left: 10px;
  font-weight: bold;
}

.login .separator {
  align-self: center;
  width: 90%;
  height: 0.5px;
  background-color: rgb(88, 88, 88);
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
}

.login .separator::before {
  content: "or";
  background-color: white;
  color: rgb(88, 88, 88);
  padding: 0 5px;
  font-size: 1.2rem;
}

.login .text {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.login input {
  font-size: 1.2rem;
  padding: 7px 18px 7px 20px;
  margin-bottom: 8px;
  border-radius: 150px;
  border: 1px solid black;
  text-align: center;
}

/* details section */

#details-section {
  display: none;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.details .wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.details h2 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.details .group {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 0;
}

.details label {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.details select {
  font-size: 1.2em;
  border-radius: 8px;
  padding: 0 5px;
}

.details .btn.continue-btn {
  margin-top: 20px;
}

.details .icon {
  margin-left: 10px;
}

.text.back-btn {
  font-size: 1.3rem;
  text-decoration: underline;
  margin-top: 15px;
  align-self: flex-start;
  cursor: pointer;
}

.text.back-btn .icon {
  margin-right: 5px;
}

/* MAIN SECTION */

#main-section {
  display: none;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
}

#logout-btn {
  text-decoration: underline;
  cursor: pointer;
}

#logout-btn .icon {
  margin-left: 5px;
}

.main .wrapper {
  width: 100%;
  max-width: 450px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main .text {
  margin: 0;
}

#lec-today-text {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

/* CARDS */

/* main card style */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 12px 12px 12px 18px;
  box-shadow: 2px 5px 10px rgba(255, 255, 255, 0.06);
  margin-bottom: 15px;
}

/* greeting card top */
.card.greeting {
  /* to add gradient overlay over the background image of the greeting card */
  background-image: linear-gradient(to right top, #04090eef, #020c17ef, #040d1def, #080e24ef, #0f0e29ef),   url(./images/greeting-backg.png);
  background-size: cover;
  color: #f1f12d;
  height: 150px;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 25px;
}

.navigation i {
  font-size: 1.5rem;
  padding: 8px 10px;
  border-radius: 50px;
  box-shadow: 2px 5px 18px rgba(241, 241, 241, 0.09);
  cursor: pointer;
}

.navigation i:hover {
  background-color: white;
  transition: 0.3s ease-in-out;
  color: #1A1A2E;
}

#date-display {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .greeting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card .greeting-text .text {
  font-size: 1.5rem;
  line-height: 1.2;
}

.card.greeting .icon {
  font-size: 2.1rem;
  color: lightcyan;
  margin-right: 8px;
}

#main-pfp {
  height: 48px;
  border-radius: 150px;
  border: 3px solid white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.318);
  background-color: rgb(193, 168, 237);
  padding: 5px;
  cursor: pointer;
}

#greeting-time {
  font-size: 3rem;
  font-weight: 500;
}

#greeting-time-row {
  align-items: center;
  margin-bottom: -10px;
}

/* time cards */

.card .row {
  align-items: center;
}

.card .title {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

#module-code {
  font-weight: 100;
  /* font-style: italic; */
  color: white;
  font-size: 1.5rem;
}

.timecard {
  padding-top: 8px;

  background-color: #0c1a33;
}

.ongoing {
  background: #787ff6;
  color: white;
  background: linear-gradient(to bottom right, #afb3ff, #9297f6);
}

.timecard.ongoing > p {
  color: white;
}

.card .type {
  margin-top: -5px;
  max-width: 40%;
  text-transform: uppercase;
  background-color: #203652;
  border-radius: 150px;
  padding: 0 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 400px) {
  .card .type {
    font-size: 0.8rem;
  }
}

.card .time {
  font-size: 1.3rem;
}

.card.now {
  background: linear-gradient(to right, #a38ed2, #f9c1eb);
}

.no-lecs-msg {
  margin: 30px 0;
  align-items: center;
}

.no-lecs-msg p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

#no-lecs-img {
  width: 100%;
}

/* footer */

#credits {
  margin-bottom: 10px;
}

#credits:hover {
  font-weight: 600;
}

.footer-credits a {
  border-radius: 5px;
}

.footer-credits a:hover {
  background-color: rgb(255, 255, 255,0.9);
  padding: 0 5px;
  transition: 0.3s ease-in-out;
  color: black;
}

/* TEST RULES */
#login-section,
#details-section,
#main-section {
  display: none;
}
