* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.btn {
  font-size: 1.2rem;
  padding: 7px 18px 7px 20px;
  border: 1px solid black;
  border-radius: 150px;
  color: rgb(38, 38, 38);
  background-color: white;
  cursor: pointer;
}

.text {
  font-size: 1.3em;
}

/* splash screen */
.splash {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #74ebd5, #acb6e5);
}

.splash .text {
  font-size: 1.8rem;
  color: #ffffff;
}

/* login section */

#login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login .logo-title {
  font-family: "Patua One", cursive;
  font-size: 3.5em;
  color: rebeccapurple;
  margin-bottom: 12px;
}

.notif-area {
  font-size: 1.3rem;
  color: orangered;
  margin-bottom: 10px;
}

.btn.login-btn {
  margin-top: 12px;
  background-color: yellow;
}

.btn.login-btn:hover {
  background-color: rgb(244, 244, 0);
}

.btn.continue-btn {
  background-color: lightskyblue;
  /* font-size: 1.2rem; */
}

.btn.continue-btn:hover {
  background-color: rgb(128, 195, 236);
}

.btn.continue-btn.disabled {
  background-color: rgb(204, 216, 224);
  color: rgb(126, 126, 126);
}

#login-bitmoji-img {
  width: 220px;
  align-self: center;
  margin-bottom: -5px;
}

.login .icon {
  margin-left: 10px;
  font-weight: bold;
}

.login .separator {
  align-self: center;
  width: 90%;
  height: 0.5px;
  background-color: rgb(88, 88, 88);
  display: flex;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
}

.login .separator::before {
  content: "or";
  background-color: white;
  color: rgb(88, 88, 88);
  padding: 0 5px;
  font-size: 1.2rem;
}

.login .text {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.login input {
  font-size: 1.2rem;
  padding: 7px 18px 7px 20px;
  margin-bottom: 8px;
  border-radius: 150px;
  border: 1px solid black;
  text-align: center;
}

/* details section */

#details-section {
  display: none;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.details .wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.details h2 {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.details .group {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 0;
}

.details label {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.details select {
  font-size: 1.2em;
  border-radius: 8px;
  padding: 0 5px;
}

.details .btn.continue-btn {
  margin-top: 20px;
}

.details .icon {
  margin-left: 10px;
}

.text.back-btn {
  font-size: 1.3rem;
  text-decoration: underline;
  margin-top: 15px;
  align-self: flex-start;
  cursor: pointer;
}

.text.back-btn .icon {
  margin-right: 5px;
}

/* MAIN SECTION */

#main-section {
  display: none;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
}

#logout-btn {
  text-decoration: underline;
  cursor: pointer;
}

#logout-btn .icon {
  margin-left: 5px;
}

.main .wrapper {
  width: 100%;
  max-width: 450px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main .text {
  margin: 0;
}

/* CARDS */

/* main card style */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 12px 12px 12px 18px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.232);
  margin-bottom: 15px;
}

/* greeting card top */
.card.greeting {
  background: linear-gradient(to right, #00f260, #0575e6);
  height: 150px;
  justify-content: space-between;
}

.card .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .greeting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card .greeting-text .text {
  font-size: 1.5rem;
  line-height: 1.2;
}

.card.greeting .icon {
  font-size: 2.1rem;
  /* color: white; */
  color: lightcyan;
  margin-right: 8px;
}

#main-pfp {
  height: 58px;
  border-radius: 150px;
  border: 4px solid white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.318);
}

#greeting-time {
  font-size: 3rem;
  font-weight: 500;
  color: black;
}

#greeting-time-row {
  align-items: center;
  margin-bottom: -10px;
}

/* time cards */
.timecard {
  padding-top: 8px;
  background: linear-gradient(to right, #adccef, #e7f0fd);
}

.card .row {
  align-items: center;
}

.card .title {
  font-size: 2rem;
  font-weight: 600;
}

#module-code {
  font-weight: 100;
  /* font-style: italic; */
  color: rgb(77, 77, 77);
  font-size: 1.5rem;
}

.card .type {
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: white;
  border-radius: 150px;
  padding: 0 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card .time {
  font-size: 1.3rem;
}

.card#card1 {
  background: linear-gradient(to right, #a38ed2, #f9c1eb);
}

/* TEST RULES */
#login-section,
#details-section,
#main-section {
  display: none;
}
